h1{
    padding-left: 450px;
    padding-top: 350px;
    font-weight: 900px;
    font-size: 50px;
}  

ul li{
    display: flex;
    padding-left: 180px;
}

nav{
    display: flex;
    padding: 20px;
    padding-left: 200px;
    
}
nav ul li a{
    text-decoration: none;
    background-color: black;
    color: aliceblue;
    padding: 10px;
    font-weight: bold;
}

body{
    background: url("https://wallpapercave.com/wp/wp7885907.png");
}


/* Je n'arrive pas à rendre mon site responsive



